<h1>{{ post.title }}</h1>

{% comment %} <p><strong>{{ post.intro }}</strong></p> {% endcomment %}

<p>{{ post.body }}</p>

<hr>

<h2>Comments</h2>

{% for comment in post.comments.all %}
    <article>
        <div>
            <p><strong>{{ comment.comment}}</strong>
                <br> {{ comment.body }}
            <p>
    </article>
{% empty %}
<p>No comments yet!</p> 
{% endfor %}   

<hr>
{% for tag in post.tags.all %}
    <article>
        <div>
            <p><strong>{{ tag.name }}</strong><p>
    </article>
{% endfor %}   
<hr>

<h2>Add comment</h2>

<form action="{% url 'post_detail' post.post_id %}" method="POST">
    {% csrf_token %} 
    {{ form }}
    <input type="submit" name="create" value="Create" />
</form>

<br><br><br><br><br><br>
<a href="{% url 'home' %} ">Homepage</a>

<a href="{% url 'categorypage' %} ">Categories Page</a>

