<h1>{{ category.name }} Skills</h1>


{% for post in posts%}
<h2>{{ post.title }}</h2>

<h3>{{ post.intro }}</h3>

<a href="{% url 'post_detail' post.post_id %} ">Read More</a>
<a href="{% url 'edit' post.post_id category.category_id %}">Edit Post</a>
{% endfor %}
<br><br>

<style>
    textarea {
        display: block;
    }
</style>
<form action="{% url 'skillspage' category.category_id %}" method="POST">
    {% csrf_token %} 
    {{ form }}
    <input type="submit" name="create" value="Create" />
</form>

<br><br><br><br><br><br>
<a href="{% url 'home' %} ">Homepage</a>

<a href="{% url 'categorypage' %} ">Categories Page</a>